<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change user's role</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sel1">Select the user's new role:</label>
                    <select class="form-control" id="formRole">
                        <option>User</option>
                        <option>Moderator</option>
                        <option>Admin</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" onclick="promoteUserAction()">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
