<div class="center">
  <h1><%=@user.name%></h1>
</div>
<div class="short-hr">
  <hr />
</div>
<div class="personal-info-frame">
<div class="row">
  <div class="col-sm-4">
    <strong>Birth date: </strong><%=@user.birth_date%>
  </div>
  <div class="col-sm-4">
    <strong>Gender:</strong> <%= @user.gender %>
  </div>
  <div class="col-sm-4">
    <strong>Country:</strong> <%= @user.country_name %>
  </div>
</div>
</div>
