<footer class="footer-distributed">

  <div class="footer-right">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="http://www.louisvuitton.com/">Home</a>
      ·
      <a href="https://pt.wikipedia.org/wiki/Tautologia_(l%C3%B3gica)">About</a>
      ·
      <a href="https://www.youtube.com/watch?v=7ZHa_ZOV6C8">Contact</a>
    </p>

    <p>XicoCritics &copy; 2016</p>
  </div>

</footer>
