<div class="panel panel-black">
                <div class="panel-heading">
                  <div class="category-title">
                    <h3 class="panel-title">
                        Top Movies</h3>
                      </div>
                </div>
    <ul class="list-group">
        <% for m in @movies %>
        <li class="list-group-item">
            <%=m.name %>
            <%=m.score%>
        </li>
        <% end%>
    </ul>
  </div>
