<div class="panel panel-black">
                <div class="panel-heading">
                  <div class="category-title">
                    <h3 class="panel-title">
                        Top Games</h3>
                      </div>
                </div>
    <ul class="list-group">
        <% for g in @games %>
        <li class="list-group-item">
            <%=g.name%>
            <%=g.score%>
        </li>
        <% end%>
    </ul>
  </div>
