<div class="panel panel-black">
                <div class="panel-heading">
                  <div class="category-title">
                    <h3 class="panel-title">
                        Top Games</h3>
                      </div>
                </div>
    <ul class="list-group">
        <% for g in @games %>
        <li class="list-group-item">
          <div class="row">
              <div class="col-sm-8">
                <strong><%= g.name %></strong>
                <br />
                <small><%=g.platform%></small>
              </div>
              <div class="col-sm-4">
                <div class="text-right">
                <%= g.score %>
              </div>
              </div>
          </div>
        </li>
        <% end%>
    </ul>
  </div>
