<div class="panel panel-black">
                <div class="panel-heading">
                  <div class="category-title">
                    <h3 class="panel-title">
                        Top TV Shows</h3>
                      </div>
                </div>
    <ul class="list-group">
        <% for s in @shows %>
        <li class="list-group-item">
            <%=s.name %>
            <%=s.score%>
        </li>
        <% end%>
    </ul>
  </div>
