<div class="row">
    <div class="col-3-md pull-left">
        <ul class="list-group">
            <li class="list-group-item"><%= link_to "New Movie", new_movie_path %></li>
            <li class="list-group-item"><%= link_to "New Album", new_album_path %></li>
            <li class="list-group-item"><%= link_to "New Game", new_game_path %></li>
        </ul>
    </div>
</div>
