<div class="carousel">
  <div class="text-center">
  <h3>Hot Content</h3>
</div>
    <div class="gallery items-5">
        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>
        <div id="item-4" class="control-operator"></div>
        <div id="item-5" class="control-operator"></div>

        <figure class="item">
          <h1>First item</h1>
        </figure>

        <figure class="item">
            <h1>Second item</h1>
        </figure>

        <figure class="item">
            <h1>Third item</h1>
        </figure>

        <figure class="item">
            <h1>Forth item</h1>
        </figure>
        <figure class="item">
            <h1>Fifth item</h1>
        </figure>

        <div class="controls">
            <a href="#item-1" class="control-button">•</a>
            <a href="#item-2" class="control-button">•</a>
            <a href="#item-3" class="control-button">•</a>
            <a href="#item-4" class="control-button">•</a>
            <a href="#item-5" class="control-button">•</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%= render 'topgames' %>
    </div>
    <ul class="col-md-6">
        <%= render 'topmovies' %>
    </ul>
</div>
<div class="row">
    <ul class="col-md-6">
        <%= render 'topshows' %>
    </ul>
    <ul class="col-md-6">
        <%= render 'topalbums' %>
    </ul>
</div>
