

    <div class="row">
        <div class="col-md-6">
            <%= render 'topgames' %>
        </div>
        <ul class="col-md-6">
            <%= render 'topmovies' %>
        </ul>
    </div>
    <div class="row">
        <ul class="col-md-6">
            <%= render 'topshows' %>
        </ul>
        <ul class="col-md-6">
            <%= render 'topalbums' %>
        </ul>
    </div>
