<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Summary</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Reviews</label>

<input id="tab3" type="radio" name="tabs">
<label for="tab3">Media</label>

<section id="content1">

</section>

<section id="content2">
  <div class="row" style="padding-top: 50px">
      <div class="col-md-6">
          <div class="panel panel-default" style="padding: 25px">
              <div style="padding: 10px">
                  <%= link_to "Write review", new_product_review_path(@game.acting_as) %>
              </div>
              <% for review in @game.reviews %>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <div class="pull-left">
                              <p><%= review.user.email %></p>
                          </div>
                          <div class="pull-right">
                              <p class="text-right"><%= review.score %></p>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                      <div class="panel-body">
                          <%= review.text%>
                      </div>
                  </div>
              <% end %>
          </div>
      </div>
  </div>
</section>

<section id="content3">
  <p>
    MEDIA GOES HERE!
  </p>
</section>
