<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Summary</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Reviews</label>

<input id="tab3" type="radio" name="tabs">
<label for="tab3">Media</label>

<section id="content1">

</section>

<section id="content2">
  REVIEWS GO HERE!
</section>

<section id="content3">
  <p>
    MEDIA GOES HERE!
  </p>
</section>
